.blog-siderbar-container
  width 200px !important
  height 100%
  position fixed
  font-size 0px
  top 0
  bottom 0
  left 0
  z-index 1001
  overflow hidden
  .horizontal-collapse-transition
    transition 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out
  .blog-scrollbar
    height calc(100.2% + 15px)
    .el-scrollbar__view
      height 100%
  .el-menu
    border none
    width 100% !important
    height 100%

.blog-main-container
  min-height 100%
  transition margin-left .28s
  margin-left 200px

.blog-icon
  padding 0 6px

.blog-inline-block
  display inline-block
